@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#3f5efb,#fc466b);
}
form{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 32rem;
    background: rgba(255,255,255,.1);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.35);
    border-radius: 30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
}
form::before{
    content: '';
    position: absolute;
    bottom: 1%;
    right: 30%;
    width: 200px;
    height: 200px;
    background-color: magenta;
    border-radius: 50%;
    z-index: -1;
}
form::after{
    content: '';
    position: absolute;
    top: 6%;
    left: 33%;
    width: 120px;
    height: 120px;
    background-color: magenta;
    border-radius: 50%;
    z-index: -1;
}
h1{
    font-size: 60px;
    color: white;
    text-align: center;
    opacity: .7;
    letter-spacing: 2px;
    margin: 8% 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
label{
    font-size: 20px;
    color: white;
    margin-left: 37px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
input{
    border: none;
    outline: none;
    width: 80%;
    margin: 3% auto;
    margin-bottom: 10%;
    height: 30px;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.6);
    opacity: .8;
}
button{
    color: white;
    width: 50%;
    margin: 3% auto;
    font-size: 17px;
    padding: 2% 0;
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgba(255,255,255,.2);
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left: 1px solid rgba(255,255,255,.6);
    border-top: 1px solid rgba(255,255,255,.6);
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: -10px;
    font-size: 12px;
}